<%= simple_form_for(weather_event) do |f| %>
  <div class="form-inputs">
    <%= f.input :description %>
    <%= f.input :category %>
    <%= f.input :temperature %>
    <%= f.input :price %>
    <%= f.input :image_url %>
    <%= f.submit 'Update!', class: 'btn btn-secondary' %>
  </div>
<% end %>
