<div class="my-5"></div>
<div class="container">
<h1>All Weather Events</h1>
  <div>
    <%= link_to "Create a New Weather Event", new_weather_event_path %>
  </div>

  <div class="cards">
    <% @weather_events.each do |event| %>
      <%= link_to weather_event_path(event) do  %>
        <div class="card-category"
            style="background-image: linear-gradient(rgba(0,0,0,0.3),
            rgba(0,0,0,0.3)),
            url('<%= asset_path(event.image_url) %>')">
          <%= event.description %>
        </div>
      <% end %>
    <% end %>
  </div>
    <div>
      <%= link_to "Create a New Weather Event", new_weather_event_path, class: "btn btn-weather" %>
    </div>
</div>
