<div class="container">
  <h1><%= @weather_event.description %></h1>
  <img alt="WeatherEventImage" width="200" src="/assets/<%= @weather_event.image_url %>">

  <p>Temperature: <%= @weather_event.temperature %></p>
  <p>Category: <%= @weather_event.category %></p>
  <p>Price: $<%= @weather_event.price %></p>
  <%= link_to "Book this Weather Event", new_weather_event_booking_path(@weather_event, @booking) %>
</div>
