<div class="my-5"></div>
<div class="container">

  <h3>Book  <%= @weather_event.description %>!</h3>
   <div class="form-inputs">
    <%= simple_form_for([@weather_event, @booking]) do |f| %>
    <%= f.input :date %>
    <%= f.input :location %>
    <%= f.submit 'Book this Weather!', class: 'btn btn-secondary' %>
    <% end %>
  </div>
</div>
