<div class="my-5"></div>
<div class="container">
  <h1>Here are Your Requests!</h1>
  <div class="cards">
      <% @bookings.each do |booking| %>
        <div class="card">
          <h5 class="card-header">Request</h5>
          <div class="card-body">
          <h5 class="card-title"><%= booking.renter.first_name %> <%= booking.renter.last_name %></h5>
          <p class="card-text"><%= booking.location %></p>
          <p class="card-text"><%= booking.date %></p>
          <p class="card-text"><%= booking.status %></p>
          <div><%= link_to "change the status", edit_request_path(booking), class:"btn-weather", id:"btn-card" %>
          </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
